.review-card-container {
  width: 95%;
  margin-left: 2%;
  height: 141px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}
.review-card-date-time {
  top: var(--dl-space-space-halfunit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 12px;
  font-family: "Courier New";
  padding-top: 0px;
}
.review-card-text {
  right: var(--dl-space-space-halfunit);
  bottom: 0px;
  position: absolute;
  align-self: flex-start;
  font-family: "Courier New";
  text-transform: lowercase;
}
.review-card-text1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  margin: auto;
  position: absolute;
  max-width: 85%;
  align-self: flex-start;
  max-height: 70%;
  overflow-y: hidden;
}
.review-card-container1 {
  width: 35px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.review-card-image {
  width: 28px;
  height: 27px;
  object-fit: cover;
}
.review-card-image1 {
  width: 28px;
  height: 27px;
  object-fit: cover;
}
.review-card-image2 {
  width: 28px;
  height: 27px;
  object-fit: cover;
}
.review-card-image3 {
  width: 28px;
  height: 27px;
  object-fit: cover;
}
.review-card-image4 {
  width: 28px;
  height: 27px;
  object-fit: cover;
}
